/data/accidents_2016.csv
/data/accidents_2016.csv.zip
/data/fastest_routes_test.csv.zip
/data/fastest_routes_train_part_1.csv
/data/fastest_routes_train_part_1.csv.zip
/data/fastest_routes_train_part_2.csv
/data/fastest_routes_train_part_2.csv.zip
/data/holiday.csv
/data/second_fastest_routes_test.csv
/data/second_fastest_routes_test.csv.zip
/data/second_fastest_routes_train.csv
/data/second_fastest_routes_train.csv.zip
/data/test.csv
/data/test.csv.zip
/data/train.csv
/data/train.csv.zip
/data/weather_data.csv
/data/weather_data_nyc_centralpark_2016(1).csv
/data/
